/**
 * GENERAL
 * ------------------------------------------------------------------------- */
:root {
  /*--color-yellow: #fdcc2d;*/
  --color-yellow: #fed700;
  --color-red: #ed1c24;
  --color-black: #000000;
  --color-white: #ffffff;

  --border-radius: 5px;
}

body {
  background: var(--color-yellow);
  background: -moz-linear-gradient(top,var(--color-yellow) 367px,#fff 367px);
  background: -webkit-linear-gradient(top,var(--color-yellow) 367px,#fff 367px);
  background: linear-gradient(to bottom,var(--color-yellow) 367px,#fff 367px);
}

/* Remove background form top of body */
body:before,
body:after {
  display: none;
  content: ' ';
}

/**
 * HEADER
 * ------------------------------------------------------------------------- */

#header .headerMain {
  gap: 32px;
}

#header .headerMain__left,
#header .headerMain__right {
  flex-shrink: 0;
  width: auto;
}
#header .headerMain__center {
  flex-grow: 1;
}
@media (min-width: 991px) {
  #header .headerMain__center {
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-bottom: 25px;
  }
}

#header .headerContact__text.headerContact__text--big {
	font-size: 12px;
}

/* Search box */
#header .box.rc-header-search-normal {
  border: 0;
  border-radius: var(--border-radius);
}
#header .headerSearcher {
  width: 100%;
  min-width: unset;
}
#header .headerSearcher__inputWrapper {
  width: calc(100% - 180px - 50px);
}
#header .headerSearcher .headerSearcher__categoriesWrapper {
  width: 180px;
}
#header .headerSearcher__button {
  width: 50px;
  border-left: 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: var(--color-red);
}

/* Wishlist & Products compare */
#header .headerMain__rightTop {
  display: none;
}

#header .headerMain__rightBottom {
  gap: 32px;
}

/* Settings icon */
#header .headerSettings {
	display: none;
}

/* User icon */
#header .headerAccount,
#header .headerCart {
  padding-top: 20px;
}
#header .headerAccount #user-o {
  fill: var(--color-black) !important;
}

/* Search suggestions */
@media (min-width: 1200px) {
    #sugget_container {
        margin-left: -1px !important;
    }
}
#sugget_container .suggest-name a {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * MENU
 * ------------------------------------------------------------------------- */

#top_menu .categories-button > a {
  background-color: var(--color-yellow);
}

/**
 * SIDEBAR
 * ------------------------------------------------------------------------- */

.rc-page-start aside#side,
.rc-page-start #content {
  margin-top: 16px;
}

.rc-box-categories-more .categories-tree ul,
.rc-box-categories .categories-tree ul,
.classic-categories-tree ul {
  border-radius: var(--border-radius);
  border: 2px solid var(--color-yellow);
}

.rc-box-categories .categories-tree li:hover::before,
.rc-box-categories-more .categories-tree li:hover::before {
  display: none;
}

aside#side .box-body {
  background-color: var(--color-white);
}
aside#side .box-body.categories-tree a {
	transition: .3s !important; 
}
aside#side .advantages__content {
  flex-wrap: wrap;
  padding: 20px 15px;
  background-color: var(--color-white);
}

/**
 * BUTTONS
 * ------------------------------------------------------------------------- */

.button-verylight {
	color: var(--color-red) !important; 
	border-bottom: var(--color-red);
  font-weight: 500; 
}
.button-verylight:hover {
  color: var(--color-white) !important;
  background-color: var(--color-red);
  border-radius: 3px;
}

/**
 * POP-UP
 * ------------------------------------------------------------------------- */

.popup .fn-button {
  top: 20px;
 }

.popup .fn-button #footer_newsletters_bt_two {
  display: block;
  padding: 4px;
  background-color: var(--color-yellow);
  border: 1px solid var(--color-black);
}
.popup .fn-button #footer_newsletters_bt_two > i {
  display: none;
}
.popup .fn-button #footer_newsletters_bt_two:before {
  content: 'Zapisz się';
}

/**
 * BREADCRUMB
 * ------------------------------------------------------------------------- */

.breadcrumb .breadcrumb__back {
  height: auto;
}
.breadcrumb .breadcrumb__backText {
	border-bottom: 0;
}

/**
 * SLIDER
 * ------------------------------------------------------------------------- */

.homeSlider {
  align-items: stretch;
}

.homeSlider .owl-carousel .owl-wrapper-outer {
  padding-top: 0;
}

.homeSlider .owl-prev:before,
.homeSlider .owl-next:before,
.homeSlider .slick-prev:before,
.homeSlider .slick-next:before,
.homeSlider #img_Prev i,
.homeSlider #img_Next i {
	color: var(--color-red);
}


.homeSlider .homeAdditionalBoxes {
  justify-content: space-between;
}

.homeSlider .homeAdditionalBoxes .textBox,
.homeSlider .homeAdditionalBoxes .photoBox {
  height: calc(50% - 8px);
}

.view_stock_info_text_ok {
  background-color: #4BB364;
}


.one_moreinfo:not(.one-item) .productName__fullWidth {
	min-height: 60px
}

.view_price {
	color: var(--color-red);
}

/**
 * PRODUCTS
 * ------------------------------------------------------------------------- */

.box-product .box-photo img, .product-inside .product-photo img {
  display: inline-block;
  max-width: 100%;
  height: 120px;
  object-fit: contain;
}


.box.rc-box-filter-search .box-simple {
	border: 1px solid #e6e6e6;
}

/**
 * FOOTER
 * ------------------------------------------------------------------------- */
.footerBottom {
  background-color: var(--color-yellow);
}